*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body
{
    font-family: arial,sans-serif;
}
h1
{
    font-family: "Times New Roman", Times, serif; 
}

.container
{
    width: 1750px;
    margin: 0 auto;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 43px;
}
.icon img
{
    margin-right: 100px;
    transition: 256ms;
}
.icon img:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.menu-item a
{
    font-family: arial,sans-serif;
    color: #40494D;
    text-decoration: none;
    margin-left: 82px; 
    cursor: pointer;
}
.menu-item-nav i
{
    position: relative;
    font-size: 25px;
    padding: 15px;
    border: 1px solid #40494D;
    border-radius: 100px;
    margin-right: 20px;
    top: 3px;
    cursor: pointer;
}
button
{
    background-color: #283337;
    color: white;   
    padding: 21px 25px;
    border-radius: 56px;
    font-size: 18px;
    cursor: pointer;
    transition: 256ms;
}
button:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.title
{
    padding-top: 170px;
    display: flex;
    justify-content: space-around;
}
.title img
{
    position: relative;
    bottom: 86px;
    transition: 256ms;
}
.title img:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.title-h1 h1
{
    color: #283337;
    font-size: 60px;
}
.title-desc
{
    padding-top: 45px;
}
.title-desc p
{
    color: #40494D;
    font-size: 21px;
    line-height: 31px;
}
.title-btn
{
    padding-top: 26px;
}
.title-btn button
{
    padding: 21px 55px;
}
.icons
{
    padding-top: 150px;
    text-align: center;
}
.icons img
{
    margin-left: 105px;
}
.settings
{
    padding-top: 300px;
    display: flex;
    justify-content: space-evenly;
}
.settings-title h1
{
    font-size: 60px;
    color: #283337;
}
.settings-desc
{
    padding-top: 40px;
}
.settings-desc p
{
    font-family: arial,sans-serif;
    color: #40494D;
    font-size: 18px;
    line-height: 26px   ;
}
.settings-desc span
{
    color: #40494D;
    border-bottom: 2px solid #40494D;
    font-weight: bold;
}
.settings-btn
{
    padding-top: 40px;
}

.settings-btn button
{
    padding: 18px 27px;
    font-size: 21px;
}
.desc
{
    background: url(../img/settings.png) no-repeat left;
    background-position: bottom 291px right 278px;
    padding-left: 40px;
}
.desc-title h1
{
    color: #283337;
    font-size: 35px;
    line-height: 34px;
    padding-top: 232px;
}
.desc-p
{
    padding-top: 55px;
}
.desc-p p
{
    font-size: 18px;
    line-height: 26px;
    color: #40494D;
}
.desc-a
{
    padding-top: 40px;
    text-align: right;
}
.desc-a a
{
    position: relative;
    right: 25px;
    font-size: 18px;
    color: #283337;
}
.res-title
{
    padding-top: 300px;
    text-align: center;
}
.res-title h1
{
    font-size: 60px;
    color: #283337;
}
.wrapper-res
{
    display: flex;
    justify-content: space-around;
}
.block
{
    text-align: center;
    margin-top: 75px;
    transition: 256ms;
    margin-bottom: 230px;
}
.block:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.block-title h1
{
    font-size: 52px;
    color: #283337;
}
.block-desc
{
    padding-top: 20px;
}
.block-desc p
{
    color: #40494D;
    font-size: 16px;
    line-height: 24px;
}
.dif
{
    display: flex;
    justify-content: space-evenly;
}
.dif-title h1
{
    color: #283337;
    font-size: 60px;
}
.dif-desc
{
    padding-top: 40px;
}
.dif-desc p
{
    color: #40494D;
    font-size: 18px;
    line-height: 26px;
}
.dif-ul-title
{
    padding-top: 24px;
}
.dif-ul-title p
{
    font-size: 15px;
    color: #283337;
}
.dif-ul
{
    padding-top: 25px;
    padding-left: 33px;
}
.dif-ul li
{
    color: #40494D;
    font-size: 17px;
    line-height: 33px;
    list-style-type: none;
}
.def-a
{
    padding-top: 26px;
}
.def-a a
{
    color: #40494D;
    font-size: 18px;
    cursor: pointer;
}
.bui
{
    text-align: center;
}
.bui-title
{
    padding-top: 150px;
}
.bui-title h1
{
    display: inline;
    color: #283337;
    font-size: 58px;
}
.bui-icon
{
    margin-top: 90px;
    margin-right: 200px;
}
.bui-icon img
{
    margin-left: 210px;
    transition: 256ms;
}
.bui-icon img:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.start-title
{
    padding-top: 144px;
}
.start
{
    text-align: center;
}
.start-title h1
{
    color: #283337;
    font-size: 60px;
}
.start-desc
{
    padding-top: 50px;
}
.start-desc h2
{
    color: #283337;
    font-size: 33px;
}
.start-btn
{
    padding-top: 50px;
    padding-bottom: 150px;
}
.bg
{
    background-color: #101C21;
}
footer
{
    display: flex;
    justify-content: space-between;
}
.footer-left
{
    padding-top: 100px;
}
.li1-desc 
{
    line-height: 30px;
}
.li1-desc p
{
    color: #878D90;
    font-size: 16px;
}
.footer1-ul
{
    padding-top: 15px;
}
.li1-desc li
{
    cursor: pointer;
    color: #CFD2D3;
    list-style-type: none;
}
.footer1-2-ul
{
    padding-top: 35px;
}
.footer1-2-ul li
{
    cursor: pointer;
    color: white;
    list-style-type: none;
    line-height: 30px;
}
.footer1-button
{
    padding-top: 55px;
}
.footer1-button button
{
    padding: 21px 45px;
}
.footer1-icons
{
    padding-top: 105px;
    padding-bottom: 50px;
}
.footer1-icons i
{
    color: #9FA4A6;
    font-size: 23px;
    margin-left: 15px;  
    cursor: pointer;
}
.wrap-ul
{
    display: flex;
    padding-top: 100px;
}
.li2-desc
{
    line-height: 30px;
    padding-right: 200px;
}
.li2-desc p
{
    color: #878D90;
    font-size: 16px;
    cursor: pointer;
}
.li2-desc li
{
    color: white;
    list-style-type: none;
    cursor: pointer;
}
.footer-img
{
    position: relative;
    bottom: 7px;
    margin-left: 150px;
    transition: 256ms;
}
.footer-img:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.input-title
{
    padding-top: 60px;
}
.input-title h2
{
    color: white;
    font-size: 19px;
}
.input
{
    padding: 19px 140px;
    border-radius: 4px;
    margin-top: 30px;
}
.input::placeholder
{
    position: relative;
    right: 100px;
}
form button
{
    padding: 17px 52px;
    margin-left: 30px;
}
.desc1
{
    display: flex;
    justify-content: space-between;
    padding-top: 215px;
}
.desc1 a
{
    cursor: pointer;
    color: #9FA4A6;
}
.second
{
    position: relative;
    right: 110px;
}